<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tia.dao.UserRegisteredMapper" >
  <resultMap id="BaseResultMap" type="com.tia.entity.UserRegistered" >
    <id column="student_id" property="studentId" jdbcType="VARCHAR" />
    <id column="recruit_id" property="recruitId" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map" >
    delete from User_Registered
    where student_id = #{studentId,jdbcType=VARCHAR}
      and recruit_id = #{recruitId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tia.entity.UserRegistered" >
    insert into User_Registered (student_id, recruit_id)
    values (#{studentId,jdbcType=VARCHAR}, #{recruitId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.tia.entity.UserRegistered" >
    insert into User_Registered
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="studentId != null" >
        student_id,
      </if>
      <if test="recruitId != null" >
        recruit_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="studentId != null" >
        #{studentId,jdbcType=VARCHAR},
      </if>
      <if test="recruitId != null" >
        #{recruitId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>